@charset "UTF-8";
body {
  font-family: 'arialnarrow';
  line-height: 1;
  color: #292929;
  font-size: 20px; }

ul {
  margin: 0;
  padding: 0; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: #292929; }

h2 {
  font-family: 'arialnarrowbold';
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0; }

.az-center {
  text-align: center; }

.az-right {
  text-align: right; }

.az-left {
  text-align: left; }

.az-button {
  font-family: 'arialnarrowbold';
  font-size: 18px;
  color: #fff;
  background: #e74c3c;
  border-radius: 4px;
  display: inline-block;
  padding: 14px 7px;
  text-transform: uppercase;
  min-width: 115px; }

.az-button:hover {
  background: #c12313;
  color: #fff; }

/*header*/
.header {
  width: 100%;
  height: 105px;
  background: #d6d7db; }

.logo-box {
  padding-top: 12px; }

.logo-text-box {
  margin-left: 8px;
  padding-top: 16px; }

.logo-text1 {
  font-family: 'arialnarrowbold';
  font-size: 30px;
  color: #2c3e50; }

.logo-text2 {
  font-size: 20px;
  color: #292929;
  display: inline-block; }

.menu {
  list-style: none;
  text-align: right; }
  .menu li {
    display: inline-block;
    margin-left: 30px;
    line-height: 105px; }
    .menu li a {
      display: inline-block;
      position: relative;
      color: #292929;
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 20px; }
    .menu li a:hover {
      color: #2980b9; }
    .menu li a:hover::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      height: 3px;
      background: url(../img/menu-hover.png) repeat-x left top; }
  .menu li:first-child {
    margin-left: 0; }

/*margin*/
.az-margin-top5 {
  margin-top: 5px; }

/*margin*/
/*header*/
/*block1*/
.block1 {
  background: url(../img/1.jpg) no-repeat center top;
  width: 100%;
  height: 536px;
  text-align: center;
  padding-top: 170px; }

h1 {
  font-family: 'arialnarrowbold';
  font-size: 60px;
  color: #ecf0f1;
  line-height: 70px;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.block1-subtitle {
  font-family: 'arialnarrowbold';
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  display: block; }

/*margin*/
.az-margin-top20 {
  margin-top: 20px; }

/*margin*/
/*block1*/
/*block2*/
.advertising {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px; }

.adv-video {
  padding-left: 35px; }
  .adv-video iframe {
    width: 100%;
    height: 350px; }

.advertising-item {
  min-height: 80px;
  padding-bottom: 5px; }

.advertising-img {
  width: 56px; }

.advertising-text {
  width: calc(100% - 56px);
  padding-left: 19px;
  line-height: 25px; }

/*margin*/
.az-margin-top5 {
  margin-top: 5px; }

.az-margin-top15 {
  margin-top: 15px; }

/*margin*/
/*block2*/
/*block3*/
.flow {
  background: #edf6fc;
  padding-top: 13px;
  padding-bottom: 20px;
  text-align: center; }

.h2-style2 {
  color: #2c3e50; }

/*block3*/
/*block4*/
.advantage {
  padding-top: 35px;
  padding-bottom: 30px;
  text-align: center; }

.advantage-item {
  display: inline-block; }

.advantage-img-style1 {
  margin-left: -15px;
  margin-right: -15px; }

.advantage-subtitle {
  font-size: 19px;
  display: inline-block; }

.advantage-img-style2 {
  padding-top: 42px; }

.advantage-img-style3 {
  padding-top: 42px; }

.advantage-text {
  font-size: 19px;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  line-height: 25px; }

/*margin*/
.az-margin-bottom25 {
  margin-bottom: 25px; }

.az-margin-top10 {
  margin-top: 10px; }

/*margin*/
/*block4*/
/*block5*/
.tax {
  width: 100%;
  background: url(../img/2.jpg) no-repeat center top;
  padding-top: 35px;
  padding-bottom: 30px; }

.h2-style3 {
  color: #fff; }

.tax-subtitle {
  color: #fff;
  display: block;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase; }

.tax-table {
  width: 100%;
  background: #fdfefe;
  text-align: center; }
  .tax-table tr:nth-child(2n+1) {
    background: #eff0f0; }
  .tax-table tr:first-child {
    background: #fdfefe; }
  .tax-table th {
    line-height: 55px;
    font-family: 'arialnarrowbold';
    font-size: 24px;
    text-transform: uppercase; }
  .tax-table th:first-child, .tax-table td:first-child {
    width: 400px;
    font-family: 'arialnarrow'; }
  .tax-table th, .tax-table td {
    border: 1px solid #e0e2e5; }
  .tax-table td:first-child {
    text-align: left; }
  .tax-table td {
    padding: 3px 5px; }
  .tax-table tr:last-child td {
    padding: 7px 5px; }

.az-top {
  background: #2980b9;
  color: #fff;
  position: relative; }

.az-top::after {
  content: "╤В╨╛╨┐";
  position: absolute;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #e74c3c;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  top: -27px;
  right: -20px;
  line-height: 43px; }

.undertable {
  color: #fff; }
  .undertable strong {
    font-weight: 0;
    color: #e74c3c; }

/*margin*/
.az-margin-top22 {
  margin-top: 22px; }

.az-margin-bottom10 {
  margin-bottom: 10px; }

/*margin*/
/*block5*/
/*block6*/
.easy-start {
  text-align: center;
  padding: 30px 0; }

.easy-start-text {
  font-size: 36px;
  font-family: 'arialnarrowbold';
  color: #2c3e50;
  line-height: 50px; }
  .easy-start-text strong {
    color: #e74c3c;
    text-transform: uppercase;
    display: inline-block;
    position: relative; }
  .easy-start-text strong::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 3px;
    background: url(../img/border-bottom.png) repeat-x left top; }

/*block6*/
/*block7*/
.steps {
  width: 100%;
  background: url(../img/3.jpg) no-repeat center top;
  padding: 30px 0 8px 0;
  text-align: center; }

.steps-item {
  margin-left: -5px;
  margin-right: -5px;
  padding-top: 22px;
  padding-bottom: 22px; }

.steps-subtitle {
  color: #fff;
  line-height: 50px; }

.steps-text {
  color: #fff;
  line-height: 25px;
  margin-top: 20px;
  display: block; }
  .steps-text strong {
    font-weight: normal;
    font-family: 'arialnarrowbold'; }

.az-col {
  float: left;
  width: 20%; }

.steps-img {
  position: relative;
  display: inline-block; }
  .steps-img .step-num {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #fff;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    right: -19px;
    top: -10px;
    color: #2c3e50;
    font-family: Arial; }

/*block7*/
/*block8*/
.campaign {
  background: #edf6fc;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center; }

.h2-style2 strong {
  color: #e74c3c; }

/*block8*/
/*block9*/
.technology {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px; }

.tech-subtitle {
  line-height: 47px;
  font-size: 19px; }

.tech-item-outer {
  display: inline-block;
  width: calc(100% - 70px); }

.tech-item {
  display: table;
  min-height: 100px;
  width: 100%;
  margin-bottom: 15px; }

.tech-img {
  display: table-cell;
  width: 130px;
  text-align: center;
  vertical-align: middle;
  border: 2.5px solid rgba(44, 62, 80, 0.2); }
  .tech-img img {
    width: 60%;
    height: auto;
    opacity: 0.9; }

.tech-content {
  display: table-cell;
  width: calc(100% - 130px);
  text-align: left;
  vertical-align: middle;
  padding-left: 20px; }

.tech-cont-title {
  font-size: 19px;
  font-family: 'arialnarrowbold';
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 9px; }

.tech-cont-text {
  font-size: 19px;
  line-height: 23px; }

/*block9*/

/*# sourceMappingURL=style.css.map */
